@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

.logo {
  font-style: italic;
  font-weight: 800;
  font-size: 2.5rem;
  color: #a5b4fc;
  letter-spacing: 1px;
  position: absolute;
  left: 50px;
  z-index: 10;
  transition: transform 0.3s ease, color 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}


.app-container {
  min-height: 100vh;
  background: linear-gradient(75deg, #1c1f33 0%, #163151 100%);
  color: #ffffff;
}

nav {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  font-family: 'Poppins', sans-serif;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin-left: 350px;
}

.nav-links a, .login a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-links a:hover, .login a:hover {
  color: #a5b4fc;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(75deg, #1c1f33 0%, #163151 100%);
  color: #e0e0e0;
}


.login-container,
.register-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: linear-gradient(75deg, #1c1f33 0%, #163151 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: sticky;
}

.login-container h2,
.register-container h2 {
  color: #d0a4e0;
  text-align: center;
  margin-bottom: 20px;
}

.login-container .input-group,
.register-container .input-group {
  margin-bottom: 15px;
}

.login-container .input-group label,
.register-container .input-group label {
  display: block;
  margin-bottom: 5px;
  color: #d0a4e0;
}

.login-container .input-group input,
.register-container .input-group input {
  width: 94.5%;
  padding: 10px;
  border: 1px solid #4f4f6f;
  border-radius: 4px;
  background-color: #3e3e5c;
  color: #d0a4e0;
}

.login-container button,
.register-container button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #d0a4e0;
  color: #1b1b2f;
  font-size: 16px;
  cursor: pointer;
}

.login-container button:hover,
.register-container button:hover {
  background-color: #b07fc4;
}

.login-container .error-message,
.register-container .error-message {
  color: #ff6b6b;
  margin-bottom: 20px;
  text-align: center;
}

.login-container p,
.register-container p {
  text-align: center;
  color: #d0a4e0;
}

.login-container p a,
.register-container p a {
  color: #d0a4e0;
  text-decoration: none;
}

.login-container p a:hover,
.register-container p a:hover {
  text-decoration: underline;
}

.home-content {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.text-content{
  flex: 1;

}

.text {
  margin-left: -120px;
}

.image-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-content img {
  width: 400px;
  height: 300px;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  color: #a5b4fc;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  max-width: 600px;
  font-family: 'Poppins', sans-serif;
}

.highlight {
  color: #a5b4fc;
}

.typing-text {
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  border-right: 2px solid #a5b4fc;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  animation: typing 3s steps(40, end), blink 0.75s step-end infinite;
  color: #a5b4fc;
  padding-top: 50px;
}


@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  from, to { border-color: transparent; }
  50% { border-color: #a5b4fc; }
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding: 0 20px;
}

.title {
  flex: 1;
  max-width: 600px;
  margin-right: 20px;
}

.browser-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #353335;
}

.browser-window {
  flex-shrink: 0;
  width: 400px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #1e1e1e;
  color: #000;
  position: relative;
  border-top: 0;
  border-left: 10px solid #212022;
  border-right: 10px solid #212022;
  border-bottom: 10px solid #212022;
}


.circles {
  display: flex;
  gap: 5px;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.circle.red {
  background-color: #ff5f56;
}

.circle.yellow {
  background-color: #ffbd2e;
}

.circle.green {
  background-color: #27c93f;
}

.address-bar {
  font-size: 14px;
  color: #CCC;
  background-color: #595959;
  padding: 2px 10px;
  border-radius: 5px;
  border: 1px solid #444;
  text-align: center;
  width: 100%;
  max-width: 300px;
}

.browser-content {
  padding: 10px;
  height: calc(100% - 30px);
  overflow: hidden;
  background-color: #1e1e2a;
}


.scroll-indicator {
  margin-top: 20px;
}

.math-paper {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #2c2631;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: 'Poppins', sans-serif;
  color: #e0e0e0;
}

.math-paper h2 {
  color: #d0a4e0;
  text-align: center;
  margin-bottom: 20px;
}

.math-paper p {
  text-align: center;
  color: #e0e0e0;
}

.math-paper input[type="text"],
.math-paper input[type="email"],
.math-paper textarea {
  width: 97%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.math-paper button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.math-paper button:hover {
  background-color: #0056b3;
}

.upload-photo-container {
  margin-top: 20px;
}

.upload-photo-container h3 {
  margin-bottom: 10px;
}

.image-preview img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 5px;
}

.video-placeholder {
  background: #eee;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
}

.typing-text {
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  border-right: 2px solid #a5b4fc;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(40, end), blink 0.75s step-end infinite;
  color: #a5b4fc;
}


.home-content .text-content {
  text-align: center;
}

.home-content h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 1rem;
}
.home-content h2 {
  font-weight: 750;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.home-content .subtitle {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.cta-buttons {
  margin-top: 1rem;
  margin-left: -180px;
}

.cta-buttons a {
  margin-right: 20px;
}

.cta-button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-family: 'Poppins', sans-serif;
}

.primary-cta {
  background-color: #a5b4fc;
  color: #1e3a8a;
}

.secondary-cta {
  background-color: transparent;
  color: #a5b4fc;
  border: 1px solid #a5b4fc;
}

.primary-cta:hover, .secondary-cta:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.back-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #0056b3;
}


.math-paper {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #2a2a3e;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 0
}

.math-paper h2 {
  color: #d0a4e0;
  text-align: center;
  margin-bottom: 20px;
}

.math-paper p {
  text-align: center;
  color: #e0e0e0;
}

.math-paper .back-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #d0a4e0;
  color: #1b1b2f;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
}

.math-paper .back-button:hover {
  background-color: #b07fc4;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
  background-color: #49496e;
  color: #e0e0e0;
  border: 2px groove #c8b5da;
  border-radius: 4px;
  padding: 10px;
}

.login a {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 4px;
  background-color: #7285dd;
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.login a:hover {
  background-color: #a5b4fc;
  color: #1c1f33;
}

.video-placeholder {
  width: 94.5%;
  height: 300px;
  background-color: #3e3e5c;
  color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 2px solid #4f4f6f;
}

.video-placeholder h3 {
  color: #e0e0e0;
  font-size: 18px;
  margin: 0;
}

#solve .input-group {
  margin-bottom: 15px;
}

#solve .input-group label {
  display: block;
  margin-bottom: 5px;
  color: #e0e0e0;
}

#solve .input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #4f4f6f;
  border-radius: 4px;
  background-color: #3e3e5c;
  color: #e0e0e0;
}

#solve button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #d0a4e0;
  color: #1b1b2f;
  font-size: 16px;
  cursor: pointer;
}

#solve button:hover {
  background-color: #b07fc4;
}

#solve .upload-photo-container {
  margin-top: 20px;
}

#solve .upload-photo-container h3 {
  color: #e0e0e0;
  margin-bottom: 10px;
}

#solve .upload-photo-container input[type="file"] {
  border: 1px solid #4f4f6f;
  border-radius: 4px;
  background-color: #3e3e5c;
  color: #e0e0e0;
}


.app-footer {
  background: linear-gradient(75deg, #163151 0%, #1c1f33 100%);
  color: #e0e0e0;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
  border-top: 2px solid #4f4f6f;
}

.app-footer p {
  margin: 0;
  font-size: 14px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-links li {
  display: inline;
}

.footer-links a {
  color: #d0a4e0;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}
